openapi: 3.0.0
info:
  title: eformsign
  version: '2.0'
  contact:
    name: eformsign Service Team
    email: eformsign@forcs.com
    url: www.eformsign.com
  description: eformsign이 제공하는 API를 통해 eformsign의 기능을 고객의 시스템/서비스에서 호출해 사용할 수 있습니다.
  termsOfService: 'https://www.eformsign.com/eform/account/terms.html?tab=0'
servers:
  - url: 'https://api.eformsign.com/v2.0'
paths:
  /api_auth/access_token:
    post:
      operationId: post-api_auth-access_token
      description: API 키로 Access Token을 발급받을 수 있습니다.
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
        - schema:
            type: string
          in: header
          name: eformsign_signature
          description: execution_time 값을 private Key로 서명한 값
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <api key>
      summary: Access Token 발급
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: ''
              properties:
                execution_time:
                  type: integer
                  format: int64
                  description: 'API 호출 시간(현재 시간)으로, 서버시간의 +/- 30초 내에서만 호출이 유효하다.'
                member_id:
                  type: string
                  description: '회사 멤버의 ID로, 회사 멤버의 Access token을 발급받을 때 추가로 입력한다.'
              required:
                - execution_time
            examples:
              Request:
                value:
                  execution_time: 1533011071001
          application/xml:
            schema:
              type: object
              properties: {}
        description: ''
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_key:
                    type: object
                    description: 'API Key 정보로, name, alias, company등의 객체를 포함한다.'
                    properties:
                      name:
                        type: string
                        description: API Key 이름
                      alias:
                        type: string
                        description: API Key 별칭
                      company:
                        type: object
                        description: 'API Key의 회사 정보로, id, name, api_url 객체를 포함한다.'
                        properties:
                          id:
                            type: string
                            description: 회사 ID
                          name:
                            type: string
                            description: 회사명
                          api_url:
                            type: string
                            description: 회사의 서비스 API URL
                  oauth_token:
                    type: object
                    description: '토큰 정보로, token_type, access_token, refresh_token, expires_in 객체를 포함한다.'
                    properties:
                      token_type:
                        type: string
                        description: 토큰 타입(JWT 고정)
                      access_token:
                        type: string
                        description: access token
                      refresh_token:
                        type: string
                        description: refresh token
                      expires_in:
                        type: integer
                        description: 'Access token 유효시간(초)으로, Access token 발급 시점부터 expires_in 시간까지만 유효하다.'
              examples:
                Response Success:
                  value:
                    api_key:
                      name: access key
                      alias: access Key alias
                      company:
                        company_id: 129jd93j29jd9j29jd
                        name: Forcs
                        api_url: 'https://kr-api.eformsign.com'
                    oauth_token:
                      token_type: JWT
                      access_token: eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJvY2UuaWFtIiwiY29udGV4dCI6eyJjbGllbnRJZCI6IjE5MzEyYWI2NWQxMT...
                      refresh_token: dcaf137b-e93e-4207-ba8a-2dd5a1250c45
                      expires_in: 3600
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 에러 코드
                  ErrorMessage:
                    type: string
                    description: 에러 메시지
                  execution_time:
                    type: integer
                    format: int64
                    description: 수행 시간
              examples:
                Response Failed 1:
                  value:
                    code: '4000002'
                    ErrorMessage: The validation time has expired.
                    execution_time: 1600247345051
                Response Failed 2:
                  value:
                    code: '4030001'
                    ErrorMessage: invalid api key
      tags:
        - eformsign
    parameters: []
  /api_auth/refresh_token:
    post:
      summary: ''
      operationId: post-api_auth-refresh_token
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
              description: application/json
          content:
            application/json:
              schema:
                type: object
                properties:
                  oauth_token:
                    type: object
                    description: '토큰 정보로 토큰 객체(token_type, access_token, refresh_token, expires_in)를 포함한다.'
                    properties:
                      token_type:
                        type: string
                        description: 토큰 타입(JWT 고정)
                      access_token:
                        type: string
                        description: Access Token
                      refresh_token:
                        type: string
                        description: Refresh Token
                      expires_in:
                        type: integer
                        description: 'Access token의 유효시간(초)으로, Access token 발급 시점부터 expires_in 시간 까지만 유효하다.'
              examples:
                example-1:
                  value:
                    oauth_token:
                      token_type: JWT
                      access_token: eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJvY2UuaWFtIiwiY29udGV4dCI6eyJjbGllbnRJZCI6IjE5MzEyYWI2NWQxMTQ4NjY4ZDJiNjFjYjZjYzUwNTBmIiwiY2x-PtUZnqHGtUHKCkKelu5JN2PSSv6ZI8 ... UxeMTmjx_97ip2bragIfPaOd70V1qHY1SP_IFTLLlnzd_PUIwiPS0
                      refresh_token: 03a54d50-f0a2-4db6-9f1a-02b3e6d9a68f
                      expires_in: 3600
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 에러 코드
                  ErrorMessage:
                    type: string
                    description: 에러 메시지
              examples:
                example-1:
                  value:
                    code: '4030001'
                    ErrorMessage: invalid api key
      description: Access Token을 갱신할 수 있습니다.
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <access_token>
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refresh_token:
                  type: string
                  description: Access Token 갱신을 위한 Refresh Token
              required:
                - refresh_token
            examples:
              Request:
                value:
                  refresh_token: dcaf137b-e93e-4207-ba8a-2dd5a1250c45
      tags:
        - eformsign
    parameters: []
  /api/documents:
    post:
      summary: 새 문서 작성(내부 수신자)
      operationId: post-api-documents
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
              description: "\tapplication/json"
          content:
            application/json:
              schema:
                type: object
                properties:
                  template_id:
                    type: string
                  document:
                    type: object
                    properties:
                      id:
                        type: string
                      document_name:
                        type: string
              examples:
                성공 시:
                  value:
                    template_id: 61b05d369b2a4a10b5c4c8a1373abc0d
                    document:
                      id: 61b05d369b2a4a10b5c4c8a1373abc03
                      document_name: 개인정보제공동의서
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 에러 코드
                  ErrorMessage:
                    type: string
                    description: 에러 메시지
              examples:
                실패 시:
                  value:
                    code: '4030001'
                    ErrorMessage: invalid api key
      description: |-
        내부 수신자가 Access Token을 이용하여 자동으로 문서를 작성할 수 있습니다.

        도메인에는 Access Token을 발급 받은 company.api_url 값을 사용합니다.
      parameters:
        - schema:
            type: string
          in: header
          name: Content-Type
          description: application/json
          required: true
        - schema:
            type: string
          in: header
          name: Authorization
          description: Bearer <access_token>
          required: true
        - schema:
            type: string
            example: 'https://kr-api.eformsign.com/v2.0/api/documents?template_id=61b05d369b2a4a10b5c4c8a1373abc0'
          in: query
          name: template_id
          required: true
          description: 문서 작성에 사용할 템플릿의 ID를 찾아 추가하세요.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                document:
                  type: object
                  properties:
                    document_name:
                      type: string
                      description: 문서 제목으로 값이 없으면 template에서 설정된 이름으로 설정한다.
                    comment:
                      type: string
                      description: 단계 요청 시의 comment로 수신자로 설정한 각 단계의 Comment를 설정
                    receipients:
                      type: array
                      description: '다음 단계 리스트로 step 객체의 Array(step_type, id, name 등)를 포함한다. 값이 없으면 문서를 임시 저장한다.'
                      items:
                        type: object
                        properties:
                          step_type:
                            type: string
                            description: '워크플로우 단계 타입으로 "01"(완료), "02"(결재), "03"(외부 수신자), "04"(내부 수신자)를 의미한다. receipients 내 각 객체에 필수 설정되어 있어야 한다.'
                          id:
                            type: string
                            description: |-
                              단계 처리자 ID이다. 

                              1) step_type이 결재자일 경우, 필수 설정해야 한다.

                              2) step_type이 내부수신자이고, 그룹 또는 멤버 중 하나를 선택하여 전송 옵션이 활성화된 경우 필수 설정해야 한다.

                              단계 처리자를 그룹으로 설정하려면 그룹의 이름 또는 ID를 입력한다.
                          name:
                            type: string
                            description: '단계 처리자 이름으로, step_type이 외부 수신자일 경우 필수 설정해야 한다.'
                          email:
                            type: string
                            description: '단계 처리자 이메일로, step_type이 외부수신자일 경우, 템플릿의 알림 채널 설정에 따라 필수 설정해야 한다.'
                          sms:
                            type: object
                            description: '단계 처리자 휴대폰 정보로, step_type이 외부수신자일 경우, 템플릿의 알림 채널 설정에 따라 필수 설정해야 한다.'
                            properties:
                              country_code:
                                type: string
                                description: '단계 처리자 휴대폰 국가 코드로, step_type이 외부수신자일 경우, 템플릿의 알림 채널 설정에 따라 필수 설정해야 한다.'
                              phone_number:
                                type: string
                                description: '단계 처리자 휴대폰 번호로, step_type이 외부수신자일 경우, 템플릿의 알림 채널 설정에 따라 필수 설정해야 한다.'
                          auth:
                            type: object
                            description: |-
                              외부 수신자 인증 정보로, step_type이 외부수신자일 경우,
                              템플릿의 외부수신자 비밀번호 설정에 따라 필수 설정해야 . 
                            properties:
                              password:
                                type: string
                                description: '외부 수신자 단계 인증 비밀번호로, step_type이 외부수신자일 경우, 템플릿의 외부수신자 비밀번호 설정에 따라 필수 설정해야 한다.'
                              password_hint:
                                type: string
                                description: 외부 수신자 단계 인증 비밀번호 힌트
                              valid:
                                type: object
                                description: 외부 수신자 단계 문서 전송 기한
                                properties:
                                  day:
                                    type: integer
                                    description: 외부 수신자 단계 문서 전송 날짜
                                  hour:
                                    type: integer
                                    description: 외부 수신자 단계 문서 전송 시간
                    fields:
                      type: array
                      description: 문서 내 컴포넌트에 작성할 데이터 리스트
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            description: 문서 내 컴포넌트의 form ID
                          value:
                            type: string
                            description: |-
                              문서 내 컴포넌트에 작성할 데이터이다.

                              컴포넌트의 타입이 DatePicker일 경우, 회사 언어에 따라 하단의 지정 형식을 맞춰 입력해야 .

                              회사 언어가 영어: MM/dd/yyyy

                              그 외: yyyy-MM-dd
                    select_group_name:
                      type: string
                      description: '그룹 이름으로, 설정하면 템플릿의 필드 설정에서 입력필드 기본값에 그룹 정보가 설정되고, 문서 작성자가 2개 이상의 그룹에 속한 경우 필수 지정해야 한다. 소속 그룹이 없거나 1개인 경우 무시된다.'
                    send_external_pdf:
                      type: object
                      description: |-
                        외부 작성자가 작성한 문서가 최종 완료 되었을 때 알림을 받을 정보이다. 

                        다음 조건에 모두 해당하는 경우에는 필수 설정해야 한다.

                        1) 템플릿의 시작 단계에 "URL로 문서 생성 허용" 옵션 활성화

                        2) Open API로 작성할 때 토큰에 사용자 정보가 없음(외부자 작성)

                        3) 알림 설정의 상태 알림 설정 > 문서 최종 완료 알림 > 외부 > 최초 작성자 체크
                      properties:
                        email:
                          type: string
                          description: 외부 작성자가 작성한 문서가 최종 완료 되었을 때 알림을 받을 이메일
                        sms:
                          type: object
                          description: 외부 작성자가 작성한 문서가 최종 완료 되었을 때 알림을 받을 휴대폰 정보
                          properties:
                            country_code:
                              type: string
                              description: 외부 작성자가 작성한 문서가 최종 완료 되었을 때 알림을 받을 휴대폰 국가 코드
                            phone_number:
                              type: string
                              description: 외부 작성자가 작성한 문서가 최종 완료 되었을 때 알림을 받을 휴대폰 번호
                            auth:
                              type: object
                              description: 외부 작성자가 작성한 문서가 최종 완료 되었을 때 알림 인증 정보
                              properties:
                                password:
                                  type: string
                                  description: 외부 작성자가 작성한 문서가 최종 완료 되었을 때 알림 인증 비밀번호
                                password_hint:
                                  type: string
                                  description: 외부 작성자가 작성한 문서가 최종 완료 되었을 때 알림 인증 비밀번호 힌트
                    notification:
                      type: array
                      description: 완료 문서 전송 정보
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: 완료 문서 전송을 보낼 사람의 이름
                          email:
                            type: string
                            description: 완료 문서 전송을 보낼 사람의 이메일
                          sms:
                            type: object
                            description: 완료 문서 전송을 보낼 사람의 휴대폰 정보
                            properties:
                              country_code:
                                type: string
                                description: 완료 문서 전송을 보낼 사람의 휴대폰 국가 코드
                              phone_number:
                                type: string
                                description: 완료 문서 전송을 보낼 사람의 휴대폰 번호
                          auth:
                            type: object
                            description: 완료 문서의 인증 정보
                            properties:
                              password:
                                type: string
                                description: 완료 문서의 인증 비밀번호
                              password_hint:
                                type: string
                                description: 완료 문서의 인증 비밀번호 힌트
                              mobile_varification:
                                type: boolean
                                description: 완료 문서의 휴대폰 본인확인 여부
                              valid:
                                type: object
                                description: 완료 문서의 전송 기한
                                properties:
                                  day:
                                    type: integer
                                    description: 완료 문서의 전송 날짜
                                  hour:
                                    type: integer
                                    description: 완료 문서의 전송 시간
              required:
                - document
            examples:
              'Sample 1: 시작 - 완료':
                value:
                  document:
                    document_name: 개인정보제공동의서
                    comment: string
                    receipients:
                      - step_type: string
                        id: string
                        name: string
                        email: string
                        sms:
                          country_code: string
                          phone_number: string
                        auth:
                          password: string
                          password_hint: string
                          valid:
                            day: 0
                            hour: 0
                    fields:
                      - id: 고객명
                        value: 홍길동
                    select_group_name: string
                    send_external_pdf:
                      email: string
                      sms:
                        country_code: string
                        phone_number: string
                        auth:
                          password: string
                          password_hint: string
                    notification:
                      - name: string
                        email: string
                        sms:
                          country_code: string
                          phone_number: string
                        auth:
                          password: string
                          password_hint: string
                          mobile_varification: true
                          valid:
                            day: 0
                            hour: 0
              'example 2: 시작 - 외부자 - 완료':
                value:
                  document:
                    document_name: string
                    comment: string
                    receipients:
                      - step_type: string
                        id: string
                        name: string
                        email: string
                        sms:
                          country_code: string
                          phone_number: string
                        auth:
                          password: string
                          password_hint: string
                          valid:
                            day: 0
                            hour: 0
                    fields:
                      - id: string
                        value: string
                    select_group_name: string
                    send_external_pdf:
                      email: string
                      sms:
                        country_code: string
                        phone_number: string
                        auth:
                          password: string
                          password_hint: string
                    notification:
                      - name: string
                        email: string
                        sms:
                          country_code: string
                          phone_number: string
                        auth:
                          password: string
                          password_hint: string
                          mobile_varification: true
                          valid:
                            day: 0
                            hour: 0
      tags:
        - eformsign
tags:
  - name: eformsign
